.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: bottom no-repeat, url('./images/bg-stars.svg'),
    linear-gradient(to top, rgb(41, 29, 51), var(--color-darkBlue));
  // background-color: var(--color-darkBlue);

  // background: linear-gradient(to top, rgb(48, 36, 58), var(--color-darkBlue));

  text-align: center;
  color: var(--color-white);
  z-index: -1000;
  h1 {
    padding-top: 10rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 10px;
  }
}
